RewriteEngine On
RewriteBase /drainglistpiha/lab-09-orm/

# Если файл существует – отдаём его
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Всё остальное на router.php
RewriteRule ^(.*)$ router.php [QSA,L]